In [1]:
import pandas as pd
from pathlib import Path

#### Extract

In [2]:
# Reading the dataset

DATASETS_DIR = Path('../../datasets/UNESCO SDG/SDG')

datasets_paths = {
    'country': DATASETS_DIR / 'SDG_COUNTRY.csv',
    'data_national': DATASETS_DIR / 'SDG_DATA_NATIONAL.csv',
    'data_regional': DATASETS_DIR / 'SDG_DATA_REGIONAL.csv',
    'label': DATASETS_DIR / 'SDG_LABEL.csv',
    'metadata': DATASETS_DIR / 'SDG_METADATA.csv',
    'region': DATASETS_DIR / 'SDG_REGION.csv',
}

datasets = {}

for k,v in datasets_paths.items():
    datasets[k] = pd.read_csv(v, low_memory=False)

#### Transform

##### Cleaning

###### SDG_COUNTRY.csv

In [3]:
country_df = datasets['country']

country_df['COUNTRY_ID'] = country_df['COUNTRY_ID'].str.strip()
country_df['COUNTRY_NAME_EN'] = country_df['COUNTRY_NAME_EN'].str.strip()
country_df = country_df.drop_duplicates(subset=['COUNTRY_ID'])

In [4]:
country_df

    COUNTRY_ID                   COUNTRY_NAME_EN
0          AFG                       Afghanistan
1          ALB                           Albania
2          DZA                           Algeria
3          ASM                    American Samoa
4          AND                           Andorra
..         ...                               ...
236        WLF         Wallis and Futuna Islands
237        WSM                             Samoa
238        YEM                             Yemen
239        COD  Democratic Republic of the Congo
240        ZMB                            Zambia

[241 rows x 2 columns]